:root {
  --main-border-radius: 6px;
}
.fruits-container {
  padding: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 13px;
  width: 950px;
  margin: auto;
}
.fruits-img {
  width: 200px;
  height: 200px;
  border-radius: var(--main-border-radius);
}
.img-name-container:hover {
  filter: brightness(95%);
}
.img-name-container {
  /* border: solid 1px firebrick; */
  border: solid gray 1px;
  display: flex;
  border-radius: var(--main-border-radius);

  flex-direction: row;
}
@media (max-width: 767px) {
  .fruits-container {
    padding: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13px;
    width: auto;
    margin: auto;
  }
  .fruits-img {
    width: 100px;
    height: 100px;
    border-radius: var(--main-border-radius);
  }
}
  