:root{
  --main-border-radius: 6px;

}
.fruits-container {
    padding: 13px;
  display: flex;
  flex-wrap: wrap;
  /* border: solid firebrick 1px; */
  justify-content: center;
  gap: 13px;

}
.fruits-img {
  width: 150px;
  height: 150px;
  border-radius: var(--main-border-radius);
  
}
.img-name-container:hover{
  filter: brightness(95%);
}
.img-name-container{
  /* border: solid 1px firebrick; */
  border: solid gray 1px;
  display:flex;
  border-radius: var(--main-border-radius);

  flex-direction: row;
}